<a href="https://colab.research.google.com/github/Malka82/College/blob/main/Copy_of_Copy_of_Maria_Sokolowska_practical_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment/Practical  3: Introduction to Databases

In this assignment, you will take a practical look at Databases, both structured and unstructured. 

Database are tricky to use in situations like this as they require instalation and configuration and hiccups are bound to occur, so will try to keep this simple and aim to cover the basics of what was covered in the lectures.

* Relational  / SQL
* NonRelational  / NoSQL
* ~~XML~~
* ~~JSON~~

Save this notebook in your own google drive/colab/binder account, or run locally, complete your code, and comments and save as a .ipynb file. Name the file as "Assignment3_your_name.ipynb" and submit to the assignmet for this practical on blackboard.

Deadline: 04-12-2020

Didactic purpose of this assignment:
* connecting to databaseses
* accessing data programaticaly
* getting a feel working with structured and unstructured data 
* querying and processing data

## SQLite 
SQLite is an in-process library that implements a **self-contained, serverless, zero-configuration**, transactional SQL database engine. The code for SQLite is in the public domain and is thus free for use for any purpose, commercial or private. SQLite is the most widely deployed database in the world with more applications than we can count, including several high-profile projects.
SQLite is an embedded SQL database engine. Unlike most other SQL databases, SQLite does not have a separate server process. SQLite reads and writes directly to ordinary disk files.

In [ ]:
# Let's install sqlite ...

!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 6.1MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1796 sha256=1def9fed092c8b3384c44058081ac6162b3effa7488a41021e57e6bb8b5265a0
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3892 sha256=0906f63a710905d5185e300f7cef779a204027a8820c899f6ad9ee0685ed6d61
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31665 sha256=110b625bd81211ee64ee245a6e84df6316fe3e5085fedf457cff2d644783e6ea
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [ ]:
# ... and import the library

import sqlite3

In [ ]:
#connect with the database, if it doesn't exist it will be created (although many other RDBMS's will throw an error)
db = sqlite3.connect("prac_3.db")

In [ ]:
# we should now see the DB on the file system, you can move this as you would any other file - portability
!ls

prac_3.db  sample_data

In [ ]:
# Lets create a table, and drop it if it previously exists
# NOTE id
db.execute("drop table if exists machines")
try:
  db.execute("CREATE TABLE machines ( id INTEGER PRIMARY KEY, name TEXT NOT NULL, location TEXT, vendor TEXT)")
except:
  print("Already table existed !!")

In [ ]:
# create a cursor object
curs = db.cursor()

In [ ]:
# we can now view all the tables 
curs.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('machines',)]

In [ ]:
# and inspect the structure of the table
for row in curs.execute("PRAGMA table_info(machines)"):
    print(row)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'location', 'TEXT', 0, None, 0)
(3, 'vendor', 'TEXT', 0, None, 0)

In [ ]:
# and view the data - nothing to see here yet 
rs = curs.execute('SELECT * FROM machines')
for row in rs:
    print (row)

In [ ]:
# now lets add some data (machines)
# ie insert a new row 
# NOTE null
curs.execute('INSERT INTO machines values (null, ?, ?, ?) ', ('Widget Maker', 'Room 2', 'ACME'))
db.commit()

In [ ]:
# or we can insert many values at once

In [ ]:
# now lets add some data (machines)
# ieinsert a new row
curs.executemany('INSERT INTO machines values (null, ?, ?, ?) ',[('Dongle Press', 'Room 1', 'ACME'), ('Box Flatener', 'Room 5', 'AJAX')] )
db.commit()

In [ ]:
# and view the data - nothing to see here yet 
rs = curs.execute('SELECT * FROM machines')
for row in rs:
    print (row)

(1, 'Widget Maker', 'Room 2', 'ACME')
(2, 'Dongle Press', 'Room 1', 'ACME')
(3, 'Box Flatener', 'Room 5', 'AJAX')

## Task 1

Complete the following, (adding the code after the comment):

In [ ]:
# Add ~3 more machines to the machines table (mix the vendor and room names)
# now lets add some data (machines)
# ieinsert a new row
curs.executemany('INSERT INTO machines values (null, ?, ?, ?) ',[('machine4', 'Room 1', 'ACME'), ('Machine5', 'Room 5', 'AJAX'), ('machine6', 'Room 2', 'ACME')] )
db.commit()

# and view the data 
rs = curs.execute('SELECT * FROM machines')
for row in rs:
    print (row)

(1, 'Widget Maker', 'Room 2', 'ACME')
(2, 'Dongle Press', 'Room 1', 'ACME')
(3, 'Box Flatener', 'Room 5', 'AJAX')
(4, 'machine4', 'Room 1', 'ACME')
(5, 'Machine5', 'Room 5', 'AJAX')
(6, 'machine6', 'Room 2', 'ACME')

In [ ]:
# View only the 'ACME' machines 
rs = curs.execute('SELECT * FROM machines WHERE vendor = "ACME"')


for row in rs:
    print (row)

(1, 'Widget Maker', 'Room 2', 'ACME')
(2, 'Dongle Press', 'Room 1', 'ACME')
(4, 'machine4', 'Room 1', 'ACME')
(6, 'machine6', 'Room 2', 'ACME')

In [ ]:
# View only the 'AJAX' machines in 'Room 2'
rs = curs.execute('SELECT * FROM machines WHERE vendor = "AJAX" AND location = "Room 5"')


for row in rs:
    print (row)

(3, 'Box Flatener', 'Room 5', 'AJAX')
(5, 'Machine5', 'Room 5', 'AJAX')

In [ ]:
# View the machines ordered by name
rs = curs.execute('SELECT * FROM machines ORDER BY "name"')


for row in rs:
    print (row)

(3, 'Box Flatener', 'Room 5', 'AJAX')
(2, 'Dongle Press', 'Room 1', 'ACME')
(5, 'Machine5', 'Room 5', 'AJAX')
(1, 'Widget Maker', 'Room 2', 'ACME')
(4, 'machine4', 'Room 1', 'ACME')
(6, 'machine6', 'Room 2', 'ACME')

In [ ]:
# 'All' of the machines in'Room 5' are moved to 'Room 1' write an SQL statment to UPDATE these 
rs = curs.execute('UPDATE machines SET location = "Room 5" WHERE location = "Room 1"')


# and view the data 
rs = curs.execute('SELECT * FROM machines')
for row in rs:
    print (row)

(1, 'Widget Maker', 'Room 2', 'ACME')
(2, 'Dongle Press', 'Room 5', 'ACME')
(3, 'Box Flatener', 'Room 5', 'AJAX')
(4, 'machine4', 'Room 5', 'ACME')
(5, 'Machine5', 'Room 5', 'AJAX')
(6, 'machine6', 'Room 2', 'ACME')

Now we need to add some sensor readings and associate them with a machine

In [ ]:
# Add a new table 'readings' - this should have an 'id' (primary/auto incrementing), a 'machine_id' (int), a 'type' (text) and a 'value' (int)
# NOTE id
db.execute("drop table if exists readings")
try:
  db.execute("CREATE TABLE readings ( id INTEGER PRIMARY KEY, machine_id INTEGER NOT NULL, type TEXT, value INTEGER)")
except:
  print("Already table existed !!")

In [ ]:
# Add some (~15) sensor reading mix them between the machines with a few types (temp, count, presure) and vary the values ie
# 1, temp, 16
# 3, count, 234
# 5, pressure, 99 
curs.executemany('INSERT INTO readings values (null, ?, ?, ?) ',[('1', 'temp', '20'), ('2', 'temp', '10'), ('2', 'level', '2010'), ('1', 'level', '2005'), ('3', 'temp', '35'), ('3', 'pressure', '1'), ('2', 'pressure', '1.5'), ('1', 'flow', '25'), ('2', 'flow', '15'), ('3', 'flow', '10'), ('1', 'ph', '4'), ('2', 'ph', '2' ),('4', 'temp', '10'), ('5', 'temp', '5'), ('5', 'level', '2000'), ('5', 'level', '2005'), ('4', 'temp', '15'), ('5', 'pressure', '1'), ('4', 'pressure', '1.6'), ('5', 'flow', '10'), ('4', 'flow', '15'), ('6', 'flow', '16'), ('6', 'ph', '8'), ('4', 'ph', '5' )] )
db.commit()

In [ ]:
# view the data

rs = curs.execute('SELECT * FROM readings')
for row in rs:
    print (row)

(1, 1, 'temp', 20)
(2, 2, 'temp', 10)
(3, 2, 'level', 2010)
(4, 1, 'level', 2005)
(5, 3, 'temp', 35)
(6, 3, 'pressure', 1)
(7, 2, 'pressure', 1.5)
(8, 1, 'flow', 25)
(9, 2, 'flow', 15)
(10, 3, 'flow', 10)
(11, 1, 'ph', 4)
(12, 2, 'ph', 2)
(13, 4, 'temp', 10)
(14, 5, 'temp', 5)
(15, 5, 'level', 2000)
(16, 5, 'level', 2005)
(17, 4, 'temp', 15)
(18, 5, 'pressure', 1)
(19, 4, 'pressure', 1.6)
(20, 5, 'flow', 10)
(21, 4, 'flow', 15)
(22, 6, 'flow', 16)
(23, 6, 'ph', 8)
(24, 4, 'ph', 5)

Finally we need to query both tables together

In [ ]:
# select all the 'temp' values for the dongle press (JOIN)
rs = curs.execute('SELECT machines.name, value FROM readings JOIN machines ON readings.machine_id = machines.id WHERE readings.type = "temp" AND machines.name = "Dongle Press"')

for row in rs:
    print (row)

('Dongle Press', 10)

In [ ]:
# Get the SUM of  the 'count' values for a machine of your choice
rs = curs.execute('SELECT SUM(value) FROM readings WHERE readings.machine_id = "2"')
for row in rs:
    print (row)

(2038.5,)

In [ ]:
# Get the MAX 'presume' values for the machines in 'Room 1
rs = curs.execute('SELECT MAX(value) FROM readings JOIN machines ON readings.machine_id = machines.id WHERE readings.type = "temp" AND machines.location = "Room 2"')
for row in rs:
    print (row)

(20,)

# NonRelational / NoSQL
For simplictity we are going to use MongoDB for this, this can be installed locally but it might be easier to use there free cloud offering (Atlas).

## MongoDB

MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.

### MongoDB Atlas

* First off you will need to create an account ( 
https://www.mongodb.com/cloud/atlas/register )
* Add New Database User (Easiest to choose password auth)
* Whitelist your IP (Add current IP Address)
* Load sample data
* Connect
  * Connect your application
  * Driver - Choose Python
  * Version - See code below to view your PY version
  * Copy your connection string

In [ ]:
!python --version

Python 3.6.9

In [ ]:
# Add you password here, make sure you delete after 
mongo_password = 'Adrian00*'  # <----- Don't commit 
mongo_user= 'Malka123'

In [ ]:
#Install pymongo
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (3.11.2)

In [ ]:
# import the library
import pymongo

In [ ]:
# add the mongo connection string from set up 

client = pymongo.MongoClient("mongodb+srv://Malka123:Adrian00*@cluster0.0nvvx.mongodb.net/<dbname>?retryWrites=true&w=majority")

db = client.test


#("mongodb+srv://foo:"+mongo_password+"@cluster0.o4fx9.mongodb.net/test?retryWrites=true&w=majority")


#mongodb+srv://Malka123:<password>@cluster0.0nvvx.mongodb.net/<dbname>?retryWrites=true&w=majority

In [ ]:
# dnspython issue ?
! pip install pymongo[srv] 

# or

#mongodb://

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.6/dist-packages (3.11.2)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /usr/local/lib/python3.6/dist-packages (from pymongo[srv]) (1.16.0)

In [ ]:
# Inserting data - If the collection does not currently exist, insert operations will create the collection.
db.inventory.insert_one(
{"item": "canvas",
 "qty": 100,
 "tags": ["cotton"],
 "size": {"h": 28, "W": 35.5, "uom": "cm"}})

In [ ]:
# You can also view the inserted ID

Head back to your Atlas dashboard you should  see the DB and collection

In [ ]:
# Insert many
db.inventory.insert_many([
    {"item": "journal",
     "qty": 25,
     "tags": ["blank", "red"],
     "size": {"h": 14, "w": 21, "uom": "cm"}},
    {"item": "mat",
     "qty": 85,
     "tags": ["gray"],
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"}},
    {"item": "mousepad",
     "qty": 25,
     "tags": ["gel", "blue", 'red'],
     "size": {"h": 19, "w": 22.85, "uom": "cm"}}])

Again head back to your Atlas dashboard

Query the collection

You can also view all the collections

In [ ]:
db.collection_names()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['inventory']

Querying

In [ ]:
# equivalent of SELECT * FROM inventory
cursor = db.inventory.find({})

In [ ]:
# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd768c364809a2849e55950'), 'item': 'canvas'}
{'_id': ObjectId('5fd7693e64809a2849e55952'), 'item': 'canvas'}
{'_id': ObjectId('5fd76a4564809a2849e55953'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'W': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd76b3b64809a2849e55954'), 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'_id': ObjectId('5fd76b3b64809a2849e55955'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd76b3b64809a2849e55956'), 'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue', 'red'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}
{'_id': ObjectId('5fd7c56972a16dd97f0be479'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'W': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd7c57172a16dd97f0be47a'), 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'_id': ObjectId('5fd7c57172a16dd97f0be47b'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd7c57172a16dd97f0be47c'), 'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue', 'red'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}

In [ ]:
#the cursor also exposes a 'next' method
cursor = db.inventory.find({})
print(cursor.next())

{'_id': ObjectId('5fd768c364809a2849e55950'), 'item': 'canvas'}

In [ ]:
#and a 'rewind' method - which rewinds the cursor to its unevaluated state.
print(cursor.rewind())

<pymongo.cursor.Cursor object at 0x7f5068f4c358>

In [ ]:
# we can do items counts
n_inventory = db.inventory.find().count()

print("There are {} items in the inventory".format(n_inventory))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

There are 10 items in the inventory

In [ ]:
# we can filter - like SELECT * FROM inventory WHERE ...

cursor = db.inventory.find( {'item': 'canvas'} )

# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd768c364809a2849e55950'), 'item': 'canvas'}
{'_id': ObjectId('5fd7693e64809a2849e55952'), 'item': 'canvas'}
{'_id': ObjectId('5fd76a4564809a2849e55953'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'W': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd7c56972a16dd97f0be479'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'W': 35.5, 'uom': 'cm'}}

In [ ]:
db.inventory.find( {'item': 'canvas'} ).count()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

4

In [ ]:
# we can filter  Multple conditions - similar to AND

cursor = db.inventory.find( {"item": "journal"}, {"qty": 25} )

# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd76b3b64809a2849e55954'), 'qty': 25}
{'_id': ObjectId('5fd7c57172a16dd97f0be47a'), 'qty': 25}

In [ ]:
# or ranges
cursor = db.inventory.find({ "qty":  { "$gt": 25 } })

# itterate on collection
for doc in cursor:
    print(doc)

{'_id': ObjectId('5fd76a4564809a2849e55953'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'W': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd76b3b64809a2849e55955'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd7c56972a16dd97f0be479'), 'item': 'canvas', 'qty': 100, 'tags': ['cotton'], 'size': {'h': 28, 'W': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('5fd7c57172a16dd97f0be47b'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}

## Task 2

Complete the following, (adding the code after the comment):

In [ ]:
# load the sample Air BnB data 
#connect to bd
db = client.sample_airbnb

In [ ]:
# how many records are there ?

total = db.listingsAndReviews.find().count()

print("There are {} records in the collection".format(total))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

There are 5555 records in the collection

In [ ]:
# How many listings include the amenities of "Air conditioning" or an "Elevator"?

# amenities_total = db.listingsAndReviews.find({"amenities" : ["Air conditioning"]}).count()
amenities_total = db.listingsAndReviews.find({"amenities" : "Elevator"}).count()

print("There are {} listings with the amenities of Air conditioning and an Elevator in the collection".format(amenities_total))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  after removing the cwd from sys.path.

There are 2342 listings with the amenities of Air conditioning and an Elevator in the collection

In [ ]:
# How many listings are there which allow a stay of a minimum of 50 and a maximum  of 500 nights ?

stays_total = db.listingsAndReviews.find({"maximum_nights": { "$lt": "500" }, "minimum_nights": {"$gt": "50"}}).count()

print("There are {} listings which allow a stay of a minimum of 50 and a maximum  of 500 nights".format(stays_total))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

There are 243 listings which allow a stay of a minimum of 50 and a maximum  of 500 nights

In [ ]:
# Show the 5 highest rated listings for 'Lofts' with 'moderate'cancellation_policy

moderate_lofts = db.listingsAndReviews.find({"cancellation_policy": "moderate", "property_type": "Loft" }).sort([("review_scores.review_scores_rating", -1), ("number_of_reviews", -1)]).limit(5)

for doc in moderate_lofts:
  print("{0} - {1}% - # of reviews {2}".format(doc["name"], doc['review_scores']['review_scores_rating'], doc['number_of_reviews']))

#print("There are {} listings which allow a stay of a minimum of 50 and a maximum  of 500 nights".format(highest_total))

Voted “Best of Williamsburg” / 1000 sqft Loft - 100% - # of reviews 38
Pury Apartments - 100% - # of reviews 20
Confort et zénitude près du stade olympique - 100% - # of reviews 11
Shining view in the city heart 5 - 100% - # of reviews 7
Large Lofted Brooklyn Studio - 100% - # of reviews 5

In [ ]:
# The update the listing 10082422 changing the room type to 'Entire home/apt'

db.listingsAndReviews.update(
    {"_id": "10082422"},
    {"$set": {"room_type" : "Entire home/apt"}}


)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """

{'$clusterTime': {'clusterTime': Timestamp(1607983564, 1),
  'signature': {'hash': b'\xac\xa4\xca\x7f*\xebg\xd6O\xb6\x02\xb2^E\xd8\xe2QwYt',
   'keyId': 6902023272284553219}},
 'electionId': ObjectId('7fffffff0000000000000003'),
 'n': 1,
 'nModified': 1,
 'ok': 1.0,
 'opTime': {'t': 3, 'ts': Timestamp(1607983564, 1)},
 'operationTime': Timestamp(1607983564, 1),
 'updatedExisting': True}